<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Wartość</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="proceedingsSubject.value"
        name="value"
        required
      />
    </mat-form-field>
    <div>
      <mat-checkbox
        [(ngModel)]="proceedingsSubject.isMediationPossible"
        name="isMediationPossible"
      >
        Mediacja możliwa
      </mat-checkbox>
    </div>
    
  </mat-card-content>
</mat-card>
