<mat-card>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Wartość</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="proceedingsSubject.value"
        name="value"
        required
      />
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="proceedingsSubject.isMediationPossible"
      name="isMediationPossible"
    >
      Mediacja możliwa
    </mat-checkbox>

    <mat-checkbox [(ngModel)]="wasClaimReceived" name="wasClaimReceived">
      Pozew otrzymany
    </mat-checkbox>

    <mat-form-field appearance="fill" *ngIf="!wasClaimReceived">
      <mat-label>Data wniesienia pozwu</mat-label>
      <input
        matInput
        [matDatepicker]="pickerForFilling"
        [(ngModel)]="proceedingsSubject.fillingDate"
        name="fillingDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerForFilling"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerForFilling></mat-datepicker>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="wasClaimReceived">
      <mat-label>Data otrzymania pozwu</mat-label>
      <input
        matInput
        [matDatepicker]="pickerForClaiming"
        [(ngModel)]="proceedingsSubject.claimReceiptDate"
        name="claimReceiptDate"
        required
      />
      <mat-datepicker-toggle
        matSuffix
        [for]="pickerForClaiming"
      ></mat-datepicker-toggle>
      <mat-datepicker #pickerForClaiming></mat-datepicker>
    </mat-form-field>
  </mat-card-content>
</mat-card>
