<mat-card>
  <mat-card-title>Podmioty występujące w sprawie</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Imię i nazwisko</mat-label>
      <input matInput type="text" [(ngModel)]="firstNameLastName" />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Stanowisko</mat-label>
      <mat-select [(ngModel)]="position" name="position" required>
        <mat-option
          *ngFor="let positionFromList of positionList"
          [value]="positionFromList"
        >
          {{ positionFromList }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="addSubject()" type="button">
      Dodaj podmiot
    </button>

    <mat-list>
      <div mat-subheader>Lista podmiotów:</div>
      <mat-list-item *ngFor="let subject of subjects">
        {{ subject.firstNameLastName }} - {{ subject.position }}
        <button mat-icon-button (click)="delete(subject)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
