<mat-card>
  <mat-card-title>{{ title }}</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Imię i nazwisko</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="firstNameLastName"
        name="firstNameLastNameOfEntity"
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Rodzaj podmiotu</mat-label>
      <mat-select [(ngModel)]="position" name="positionOfEntity">
        <mat-option *ngFor="let position of positions" [value]="position">
          {{ position }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <button mat-raised-button (click)="addEntity()" type="button">
      Dodaj podmiot
    </button>

    <mat-list>
      <div mat-subheader>Lista podmiotów:</div>
      <mat-list-item *ngFor="let entity of entities">
        {{ entity.firstNameLastName }} - {{ entity.position }}
        <button mat-icon-button (click)="delete(entity)">
          <mat-icon>delete</mat-icon>
        </button>
      </mat-list-item>
    </mat-list>
  </mat-card-content>
</mat-card>
