<mat-card>
  <mat-card-title *ngIf="!isCaseForUpdating">Nowa sprawa</mat-card-title>

  <form #myForm="ngForm" (ngSubmit)="sendCase()">
    <mat-card-content class="gap-below">
      <mat-tab-group>
        <mat-tab label="Dane klienta">
          <app-client-and-adverse-party-card
            [title]="'Dane klienta'"
            [data]="aCase.client"
            [isCaseForUpdating]="isCaseForUpdating"
          ></app-client-and-adverse-party-card>
        </mat-tab>
        <mat-tab label="Dane strony przeciwnej">
          <app-client-and-adverse-party-card
            [title]="'Dane strony przeciwnej'"
            [data]="aCase.adverseParty"
            [isAdverseParty]="true"
            [isCaseForUpdating]="isCaseForUpdating"
          ></app-client-and-adverse-party-card>
        </mat-tab>
        <mat-tab label="Przedmiot postępowania">
          <app-proceedings-subject-card
            [proceedingsSubject]="aCase.proceedingsSubject"
            [isCaseForUpdating]="isCaseForUpdating"
          ></app-proceedings-subject-card>
        </mat-tab>
        <mat-tab label="Dane sądu">
          <app-court-card [court]="aCase.court"></app-court-card>
        </mat-tab>
      </mat-tab-group>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button type="submit">
      <!-- <button mat-raised-button type="submit" [disabled]="!myForm.valid"> -->
        {{ buttonText }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
