<mat-card>
  <mat-card-title>Nowy użytkownik</mat-card-title>
  <form #userForm="ngForm" (ngSubmit)="sendUser()">
    <mat-card-content>
      <mat-form-field appearance="fill">
        <mat-label>Imię i nazwisko</mat-label>
        <input
          matInput
          type="text"
          [(ngModel)]="user.firstNameLastName"
          name="firstNameLastName"
          required
        />
      </mat-form-field>
      <div>
        <mat-form-field appearance="fill">
          <mat-label>Adres email</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="user.emailAddress"
            name="emailAddress"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Powtórz adres email</mat-label>
          <input
            matInput
            type="email"
            [(ngModel)]="repeatedEmailAddress"
            name="repeatedEmailAddress"
            required
          />
        </mat-form-field>
      </div>
      <div>
        <mat-checkbox
          [(ngModel)]="shouldPasswordBeChanged"
          name="shouldPasswordBeChanged"
          *ngIf="this.user.id"
          >Zmień hasło</mat-checkbox
        >
      </div>
      <div *ngIf="shouldPasswordBeChanged">
        <mat-form-field appearance="fill">
          <mat-label>Hasło</mat-label>
          <input
            matInput
            type="password"
            [(ngModel)]="user.password"
            name="password"
            required
            pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{12,16}$"
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Powtórz hasło</mat-label>
          <input
            matInput
            type="password"
            name="repeatedPassword"
            [(ngModel)]="repeatedPassword"
            required
          />
        </mat-form-field>
      </div>
      <mat-form-field appearance="fill">
        <mat-label>Rola</mat-label>
        <mat-select [(ngModel)]="user.role" name="role" required>
          <mat-option *ngFor="let role of roles" [value]="role">
            {{ role.name }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="submit"
        [disabled]="
          !userForm.valid ||
          !passwordEqualityCheck() ||
          !emailAddressEqualityCheck()
        "
      >
        {{ buttonText }}
      </button>
    </mat-card-actions>
  </form>
</mat-card>
