<mat-card>
  <mat-card-title> {{ fileName }}</mat-card-title>
  <form #documentForm="ngForm" (ngSubmit)="sendJson()">
    <mat-card-content>
      <div>
        <mat-form-field appearance="fill" style="width: 45%">
          <mat-label>Rodzaj pisma</mat-label>
          <mat-select [(ngModel)]="document.type" name="type" required>
            <mat-option
              *ngFor="let documentType of documentTypes"
              [value]="documentType"
            >
              {{ documentType }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <label for="file" [hidden]="shouldBeDisabled">Wybierz plik: </label>
        <input
          type="file"
          id="file"
          name="file"
          accept=".pdf"
          required
          (change)="handleFileInput($any($event.target).files)"
          [hidden]="shouldBeDisabled"
        />
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Data pisma</mat-label>
        <input
          matInput
          [matDatepicker]="pickerForLetter"
          [(ngModel)]="document.dateOfLetter"
          name="dateOfLetter"
          required
        />
        <mat-datepicker-toggle
          matSuffix
          [for]="pickerForLetter"
        ></mat-datepicker-toggle>
        <mat-datepicker #pickerForLetter></mat-datepicker>
      </mat-form-field>

      <mat-checkbox [(ngModel)]="document.isIncoming" name="isIncoming">
        Pismo przychodzące
      </mat-checkbox>

      <div>
        <mat-form-field appearance="fill">
          <mat-label *ngIf="!document.isIncoming">Adresat</mat-label>
          <mat-label *ngIf="document.isIncoming">Nadawca</mat-label>
          <input
            matInput
            type="text"
            [(ngModel)]="document.addresseeOrSender"
            name="addresseeOrSender"
            required
          />
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label *ngIf="document.isIncoming"
            >Data wpływu do kancelarii</mat-label
          >
          <mat-label *ngIf="!document.isIncoming">Data wysyłki</mat-label>
          <input
            matInput
            [matDatepicker]="pickerForReceiptOrDispatch"
            [(ngModel)]="document.dateOfReceiptOrDispatch"
            name="dateOfReceiptOrDispatch"
            required
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerForReceiptOrDispatch"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerForReceiptOrDispatch></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="document.isIncoming">
        <mat-form-field appearance="fill">
          <mat-label>Sposób wpływu</mat-label>
          <mat-select
            [(ngModel)]="document.methodOfReceipt"
            name="methodOfReceipt"
            required
          >
            <mat-option *ngFor="let method of receiptMethods" [value]="method">
              {{ method }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-checkbox
          [(ngModel)]="document.isResponseRequired"
          name="isResponseRequired"
        >
          Obowiązek odpowiedzi
        </mat-checkbox>

        <mat-form-field appearance="fill" *ngIf="document.isResponseRequired">
          <mat-label>Termin na przesłanie odpowiedzi</mat-label>
          <input
            matInput
            [matDatepicker]="pickerForDeadlineForResponse"
            [(ngModel)]="document.deadlineForResponse"
            name="deadlineForResponse"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerForDeadlineForResponse"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerForDeadlineForResponse></mat-datepicker>
        </mat-form-field>
      </div>

      <div *ngIf="!document.isIncoming">
        <mat-form-field appearance="fill">
          <mat-label>Pracownik wysyłający</mat-label>
          <mat-select [(ngModel)]="document.sender" name="senderNames" required>
            <mat-option *ngFor="let user of usersNames" [value]="user">
              {{ user.firstNameLastName }}
            </mat-option>
          </mat-select>
        </mat-form-field>

        <mat-form-field appearance="fill">
          <mat-label>Data doręczenia</mat-label>
          <input
            matInput
            [matDatepicker]="pickerForDelivery"
            [(ngModel)]="document.dateOfDelivery"
            name="dateOfDelivery"
          />
          <mat-datepicker-toggle
            matSuffix
            [for]="pickerForDelivery"
          ></mat-datepicker-toggle>
          <mat-datepicker #pickerForDelivery></mat-datepicker>
        </mat-form-field>
      </div>

      <mat-form-field appearance="fill">
        <mat-label>Uwagi</mat-label>
        <textarea
          matInput
          name="comments"
          [(ngModel)]="document.comments"
        ></textarea>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        type="button"
        (click)="discard()"
        *ngIf="!shouldBeDisabled"
      >
        Anuluj
      </button>
      <button
        mat-raised-button
        type="submit"
        [disabled]="!documentForm.valid"
        *ngIf="!shouldBeDisabled"
      >
        Zapisz
      </button>
      <button
        mat-raised-button
        type="button"
        (click)="edit()"
        *ngIf="shouldBeDisabled && shouldBePossibleToEdit"
      >
        Edytuj
      </button>
      <button
        mat-raised-button
        type="button"
        (click)="download()"
        *ngIf="shouldBeDisabled"
      >
        Pobierz plik
      </button>
    </mat-card-actions>
  </form>
</mat-card>
