<mat-card>
  <mat-card-title>{{ caseLabel }}</mat-card-title>
  <mat-card-content>
    <div *ngFor="let document of documentList">
      <app-document-card
        *ngIf="document.id"
        [document]="document"
        [shouldBeDisabled]="true"
        [caseId]="caseId"
        [shouldBePossibleToEdit]="caseStatus !== 'Zakończona'"
      ></app-document-card>
      <app-document-card
        *ngIf="!document.id"
        [caseId]="caseId"
        (whatHappendWithNewDocument)="handleWhatHappenedWithNewDocument($event)"
      >
      </app-document-card>
      <button
        mat-raised-button
        (click)="delete(document)"
        class="mat-button-delete-document"
        *ngIf="document.id && role === 'ROLE_ADMIN' && caseStatus !== 'Zakończona'"
      >
        Usuń dokument
      </button>
    </div>
  </mat-card-content>

  <mat-card-actions>
    <button
      mat-raised-button
      (click)="addNewDocument()"
      *ngIf="!isAddButtonHidden && caseStatus !== 'Zakończona'"
    >
      Dodaj nowy dokument
    </button>
  </mat-card-actions>
</mat-card>
