<mat-card>
  <mat-card-content class="gap">
    <mat-form-field appearance="fill">
      <mat-label>Imię i nazwisko/Nazwa firmy</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.firstnameAndLastNameOrCompanyName"
        name="{{ nameDistinguisher }} + firstnameAndLastNameOrCompanyName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer telefonu</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.phoneNumber"
        name="{{ nameDistinguisher }} + phoneNumber"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Adres email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="data.emailAddress"
        name="{{ nameDistinguisher }} + email"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer PESEL</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.PESEL"
        name="{{ nameDistinguisher }} + PESEL"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer NIP</mat-label>
      <input matInput type="text" [(ngModel)]="data.NIP" name="{{ nameDistinguisher }} + NIP" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer KRS</mat-label>
      <input matInput type="text" [(ngModel)]="data.KRS" name="{{ nameDistinguisher }} + KRS" required />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer REGON</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="data.REGON"
        name="{{ nameDistinguisher }} + REGON"
        required
      />
    </mat-form-field>

    <app-address
      [parentName]="nameDistinguisher + 'residenceOrRegisteredOfficeAddress'"
      [title]="'Adres zamieszkania/siedziby'"
      [address]="data.residenceOrRegisteredOfficeAddress"
    ></app-address>

    <mat-checkbox
      [(ngModel)]="isMailingAddressNeeded"
      name="{{ nameDistinguisher }} + isMailingAddressNeeded"
    >
      Użyj adresu do korespondencji
    </mat-checkbox>

    <app-address
      *ngIf="isMailingAddressNeeded"
      [parentName]="nameDistinguisher + 'mailingAddress'"
      [title]="'Adres do korespondencji'"
      [address]="data.mailingAddress"
    ></app-address>

    <app-adverse-party-attoreny-card
      *ngIf="isAdverseParty"
      [adversePartyAttorney]="data.adversePartyAttorney"
    ></app-adverse-party-attoreny-card>
  </mat-card-content>
</mat-card>
