<mat-card>
  <mat-card-title>Dane pełnomocnika strony przeciwnej</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Imię i nazwisko</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="adversePartyAttorney.firstnameAndLastName"
        name="firstnameAndLastName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer telefonu</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="adversePartyAttorney.phoneNumber"
        name="phoneNumber"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Tytuł zawodowy</mat-label>
      <mat-select
        [(ngModel)]="adversePartyAttorney.jobTitle"
        name="jobTitle"
        required
      >
        <mat-option
          *ngFor="let jobTitleFromList of jobTitleList"
          [value]="jobTitleFromList"
        >
          {{ jobTitleFromList }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-checkbox
      [(ngModel)]="adversePartyAttorney.isAttorneyProfessional"
      name="isAttorneyProfessional"
    >
      Profesjonalny pełnomocnik
    </mat-checkbox>

    <app-address
      [parentName]="'adversePartyAttorneyResidenceOrRegisteredOfficeAddress'"
      [title]="'Adres zamieszkania/siedziby'"
      [address]="adversePartyAttorney.residenceOrRegisteredOfficeAddress"
    ></app-address>

    <mat-checkbox
      [(ngModel)]="isMailingAddressNeeded"
      name="isMailingAddressNeeded"
      class="mat-checkbox-mailing-address"
    >
      Użyj adresu do korespondencji
    </mat-checkbox>

    <app-address
      *ngIf="isMailingAddressNeeded"
      [parentName]="'adversePartyAttorneyMailingAddress'"
      [title]="'Adres do korespondencji'"
      [address]="adversePartyAttorney.mailingAddress"
    ></app-address>
  </mat-card-content>
</mat-card>
