<mat-card>
  <mat-card-title>Dane pełnomocnika strony przeciwnej</mat-card-title>
  <mat-card-content>
    <mat-form-field appearance="fill">
      <mat-label>Imię i nazwisko</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="adversePartyAttorney.firstNameLastName"
        name="adversePartyAttorneyFirstNameLastName"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Numer telefonu</mat-label>
      <input
        matInput
        type="text"
        [(ngModel)]="adversePartyAttorney.phoneNumber"
        name="adversePartyAttorneyPhoneNumber"
        required
      />
    </mat-form-field>
    <mat-form-field appearance="fill">
      <mat-label>Adres email</mat-label>
      <input
        matInput
        type="email"
        [(ngModel)]="adversePartyAttorney.emailAddress"
        name="adversePartyAttorneyEmailAddress"
        required
      />
    </mat-form-field>
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Tytuł</mat-label>
        <mat-select
          [(ngModel)]="adversePartyAttorney.title"
          name="adversePartyAttorneyTitle"
          required
        >
          <mat-option *ngFor="let title of titles" [value]="title">
            {{ title }}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <app-address
      [parentName]="'adversePartyAttorneyResidenceOrRegisteredOfficeAddress'"
      [title]="'Adres zamieszkania/siedziby'"
      [address]="adversePartyAttorney.residenceOrRegisteredOfficeAddress"
    ></app-address>

    <mat-checkbox
      [(ngModel)]="isMailingAddressSameAsResidenceAddress"
      name="isMailingAddressSameAsResidenceAddress"
      class="mat-checkbox-mailing-address"
    >
      Adres zamieszkania/siedziby to adres do korespondencji
    </mat-checkbox>

    <app-address
      *ngIf="!isMailingAddressSameAsResidenceAddress"
      [parentName]="'adversePartyAttorneyMailingAddress'"
      [title]="'Adres do korespondencji'"
      [address]="adversePartyAttorney.mailingAddress"
    ></app-address>
  </mat-card-content>
</mat-card>
