.gap mat-form-field {
  margin-right: 10px;
}

mat-card {
  margin-bottom: 10px;
}

.input-as-text {
  border: none;
  display: inline;
  font-family: inherit;
  font-size: inherit;
  padding: none;
  width: auto;
}
    